{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}パスワードリセット完了{% endblock %}

{% block content %}
<div class="container my-3">
    <h2 class="text-primary my-2">パスワードのリセットが完了しました。</h2>
    <p>新しいパスワードが設定されました。<br />
        以下のリンクからそれぞれのサイトにログインできます。
    </p>
    <a class="btn btn-outline-primary btn-sm my-1" href="https://children-reactjs.netlify.app/">になたくアルバム</a><br />
    <a class="btn btn-outline-primary btn-sm my-1" href="https://nashiya-reports.netlify.app/">梨屋さん日報</a><br />
    <a class="btn btn-outline-primary btn-sm my-1" href="https://daughter-blog-berraquera.vercel.app/">にな作品集</a>
</div>  
{% endblock %}